.div1{
    border: 1px solid salmon;
    padding: 25px 50px 30px 70px;
}
body{
    border: 3px dotted lawngreen;
}
.margin{
    /* margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10%;
    margin: 25px 50px; */
    margin: 25px 12px 40px 60px;
}
.div2{
    border: 1px solid teal;
    padding: 25px 50px;
}
.-margin{
    margin-top: -30px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 10%;
}
.width-center{
    width: 200px;
    margin: 20px auto;
    
}