:root{
    --primary-color: teal;
    --btn-color: chartreuse;
    --text-color: white;
}

.function{
    background-color: var(--primary-color);
    height: 200px;
    width: calc(100% - 200px);
}

a{
    padding: 10px 30px;
    margin: 20px;
    background-color: var(--btn-color);
    text-decoration: none;
    color: var(--text-color);
}