div{
    border: 1px solid lightgreen;
    margin-bottom: 10px;
}
.all-scroll{
    cursor: all-scroll;
}
.cell{
    cursor: cell;
}
.col-resize{
    cursor: col-resize;
}
.crosshair{
    cursor: crosshair;
}
.e-resize{
    cursor: e-resize;
}
.grab{
    cursor: grab;
}
.help{
    cursor: help;
}
.not-allowed{
    cursor: not-allowed;
}
.pointer{
    cursor: pointer;
}
.progress{
    cursor: progress;
}
.wait{
    cursor: wait;
}
.zoom-in{
    cursor: zoom-in;
}