div{
    border: 1px solid tomato;
    width: 500px;
    background-color: yellowgreen;
    margin: 100px auto;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}
.box-shadow{
    box-shadow: 10px 20px 20px 20px gray;
}
.box-shadow-inset{
    box-shadow: 5px 10px 15px 5px gray inset;
}
h2{
    text-align: center;
}
.multipal-shadow{
    box-shadow: 5px 5px 10px 3px gray, -5px 10px 10px 3px red;
}