@keyframes changecolor{
    /* form{ background-color: red; }
    to{background-color: yellow;} */

    0%{background-color: red;}
    25%{background-color: green;}
    50%{
        background-color: blue;
        width: 400px;
    }
    75%{background-color: tomato;}
    100%{background-color: yellow;}
    
}

.animate{
    background-color: red;
    height: 300px;
    width: 300px;
    animation-name: changecolor;
    animation-duration: 4s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.animate2{
    background-color: red;
    height: 200px;
    width: 200px;
    animation-name: changecolor;
    animation-duration: 4s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}
@keyframes animationName{
    0%{
        background-color: red;
        border-radius: 0%;
    }
    10%{
        background-color: red;
        border-radius: 10%;
    }
    20%{
        background-color: pink;
        border-radius: 20%;
    }
    30%{
        background-color: goldenrod;
        border-radius: 30%;
    }
    40%{
        background-color: gold;
        border-radius: 40%;
    }
    50%{
        background-color: tomato;
        border-radius: 50%;
    }
    60%{
        background-color: green;
        border-radius: 40%;
    }
    70%{
        background-color: teal;
        border-radius: 30%;
    }
    80%{
        background-color: blueviolet;
        border-radius: 20%;
    }
    90%{
        background-color: blue;
        border-radius: 10%;
    }
    100%{
        background-color: yellow;
        border-radius: 10%;
    }
}
.animate3{
    background-color: red;
    height: 200px;
    width: 200px;
    animation-name: animationName;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
