.overflow{
    background-color: tomato;
    border: 1px solid teal;
    width: 500px;
    height: 300px;
    /* overflow: scroll; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
    overflow: auto;
}